
.accordion-button{
    background-color:transparent;
    text-align: left;
    color: #b7ab98;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    box-shadow: none;
    text-transform:uppercase;
    padding-left: 0;
    padding: 0.5rem 0;
    /* background: linear-gradient(#eb5939 0 0) calc(100% - var(--p,0%)) / var(--p,0%) no-repeat;
    transition: .6s, background-position 0s; */
    background: 
    linear-gradient(#eb5939 0 0) no-repeat
    calc(200% - var(--i, 0) * 100%) 100% / 200% calc(100% * var(--i, 0) + .08em);
    transition: .4s calc(var(--i, 0) * .3s), background-position .3s calc(.3s - calc(var(--i, 0) * .3s))
}

.accordion-button:hover {
    --i: 1;
    color:black;
  }

@media screen and (max-width: 576px){
    .accordion-button{
        font-size: 2.75rem;
    }
}
@media screen and (min-width: 767px){
    .accordion-button{
        font-size: 3rem;
    }
}
.skillUL{
    margin-top: 0.5rem;
}
.skillLI{
    color: grey;
    font-size: 1.45rem;
    font-weight: 500;
    padding-left: 0;
    list-style-type: none;
    text-transform:uppercase;
}